body{
    background-color: LightSalmon;
}
.img-responsive{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
div .img-group{
    margin: 0 auto;
    width: fit-content;
}
h6{
    font-weight: bolder;
}
.panel-body{
    background-color: BlanchedAlmond;
}
.navbar-default{
    background-color: PaleTurquoise;
}
.panel-default>.panel-heading {
    background-color: PaleTurquoise;
}
