body{
    background-color: LightSalmon;
}
.img-responsive{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
div .img-group{
    margin: 0 auto;
    width: fit-content;
}
h6{
    font-weight: bolder;
}
.panel-body{
    background-color: BlanchedAlmond;
}
.navbar-default{
    background-color: PaleTurquoise;
}
.panel-default>.panel-heading {
    background-color: PaleTurquoise;
}
.take-survey .view-scores {
    margin-bottom:20px;
    width:150px;
    margin-left:15px;
}
.scores-view-button {
    float:left;
}

.scores-btn-input {
    margin-right:5px;
}

.bold-title {
    font-weight:bold;
}
.tags {
    margin-left:20px;
}
.dep-desc .anx-desc {
    margin-left:15px;
}
.save-btn {
    width:185px;
}
.form-group > h6 {
    font-weight:bold;
}
.form-group > p {
    font-weight:bold;
}
.submit-test {
    width: 185px;
    margin-top: 15px;
}
.edit-btn {
    width:185px;
}
